---
const today = new Date();
---

<footer class="flex flex-row justify-between text-xs my-16">
	&copy; {today.getFullYear()} Wadie Boumediene.
	<div class="social-links flex gap-4">
		<a href="https://instagram.com/_.wadiiie._" target="_blank" class="flex gap-1 items-center hover:text-white hover:bg-blue-700">
			Instagram
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="10"
				height="10"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="feather feather-external-link"
				><path
					d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
				></path><polyline points="15 3 21 3 21 9"></polyline><line
					x1="10"
					y1="14"
					x2="21"
					y2="3"></line></svg
			></a
		>
		<a href="https://x.com/waaadiiie" target="_blank" class="hover:text-white hover:bg-blue-700">X </a>
		<a href="https://github.com/Aceee03" target="_blank" class="hover:text-white hover:bg-blue-700"> GitHub </a>
	</div>
</footer>
